$back-white: #fff;
$menu-back: #fff;
$bg-dataUser: #f5f5f5;
$menu-width: 300px;
$menu-text-color: #6f7073;
$active-link: #ff5701;
$text-white: #fff;
$text-gray: #6f7073;
$text-pink: #ca2173;
$transition-speed: 0.3s;
$icon-color: #6f7073;
$border-gray: #6f7073;
$accordion-collapse: #f2f2f2;
$accordion-expanded: #ff5701;

/* buttons */
$btn-orange: #ff5701;
$btn-logout: transparent linear-gradient(90deg, #f95311 0%, #ca2173 100%) 0% 0%;
$btn-logout-hover: transparent linear-gradient(90deg, #ca2173 0%, #f95311 100%)
  0% 0%;
$tab-blue: #3742a6;
$btn-hamburguer: #000;
$btn-gray: #707070 0% 0% no-repeat padding-box;

body {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  background: $back-white;
}





/* Administrar Usuarios */

.content-header {
  header {
    padding: 0 0 0 80px;
    @media screen and (max-width: 600px) {
      padding: 0 0 0 50px;
    }
  }

}






/* Estilos */

.mainBack{
  background: rgb(62,31,20);
  background: linear-gradient(75deg, rgba(62,31,20,1) 0%, rgba(24,50,43,1) 39%, rgba(17,17,17,1) 77%);
}

#user-role-2{
  background-color: #000;
  border-color:  #000;
  color: #fff;
}
  .colorName{
    color: #fff!important;
  }
  .colorSection{
    color: #FF5900!important;
  }
  .titleSection{
    font-size: 1.8rem!important;
  }

  .iconHeadSection{
    max-width: 30px!important;
  }
  .IconArrowBack{
    max-width: 20px!important;
  }
  .menuSection{
    color: #FF5900!important;
    font-size: 0.9rem!important;
    font-weight: 600;
  }
  .SmallTxt{
    font-size: 0.8rem!important;
    color:#8A8A8A;
    font-weight: 700;
  }


  .DataTable{
    background-color: #F1F2F9;
    border-radius: 10px;
  }

  .DataTxtTable{
    font-size: 1.2rem!important;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
  }

  .DataTxtSubTable{
    font-size: 0.899rem!important;
    font-weight: 500;
    color: #4F4F4F;
    margin: 0px;
    padding: 0px;

  }


  .TDDataTable{
    background-color: #F1F2F9!important;
    border-radius: 10px;
    font-size: 0.69rem;
 
  }

  .table-trans.table-responsive {
    overflow-x: auto!important;
  }
  

/* Estilos del tab */



/* Centrar los tabs */
#menuTab {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#menuTab .nav-link {
  background: none; 
  border: none; 
  margin-bottom: 0; 
  padding: 10px 20px; 
  position: relative; 
  color: #8A8A8A; 
  font-weight: 400; 
}

/* Línea inferior para el tab activo */
#menuTab .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; 
  background-color: transparent; 
  transition: all 0.3s ease;
}

/* Línea que aparece solo cuando el tab está activo */
#menuTab .nav-link.active::after {
  background-color: #FF5900;
}

/* Cambiar color del texto cuando el tab está activo */
#menuTab .nav-link.active {
  color:#FF5900;
}

/* Estilos */


.table-content {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 13px 54px #695f9714;
  border-radius: 30px;
  .header-table-content {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 3px 17px 54px #695f9721;
    border-radius: 24px;
    padding: 1em;

    .search {
      max-width: 300px;
    }
    input[type="search"] {
      width: 200px;
      box-sizing: border-box;
      border: 1px solid #ebebeb;
      border-radius: 19px;
      font-size: 16px;
      background-color: white;
      background-image: url("../assets/images/icons/search-icon.svg");
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 8px 20px 8px 40px;
    }
    .btn-filter {
      border: 1px solid #ebebeb;
      border-radius: 7px;
      background: $back-white;
      padding: 0.3em;
      color: $text-gray;
      img {
        max-width: 30px;
      }
    }
  }

  table {
    thead {
      --bs-table-bg: transparent;
      th {
        color: #7a86a1 !important;
        font-weight: 600;
      }
    }
  }
}

/* Table responsive */
@media screen and (max-width: 991px) {
  table thead {
    overflow: hidden;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    --bs-table-bg: none;
    margin: 2em 0 2em;
    padding: 1em 0 5em;
    max-height: 365px;
    overflow-y: auto;
    --bs-table-border-color: transparent;
    border-width: 0 !important;
    border-style: hidden !important;
    border-color: transparent;
  }

  table td {
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(aria-label);
    content: attr(data-label);
    float: left;
    font-weight: 500;
    color: #7a86a1;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.pagination {
  --bs-pagination-color: #c0bdcc !important;
  --bs-pagination-border-width: 0 !important;
}

.page-link {
  &:hover,
  &:focus {
    z-index: 2;
    color: #6149cd !important;
    background-color: transparent !important;
    border-color: transparent;
    --bs-pagination-focus-box-shadow: 0;
  }
}











@media (max-width: 768px) {
  .content-header header {
    padding: 0 0 0 80px;
  }
}
@media screen and (max-width: 768px) and (max-width: 600px) {
  .content-header header {
    padding: 0 0 0 50px;
  }
}
@media (max-width: 768px) {
  .content-header .title-content h1 {
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    line-height: 1;
  }
}
@media screen and (max-width: 768px) and (max-width: 600px) {
  .content-header .title-content h1 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .content-header .title-content span {
    font-size: 30px;
    color: transparent;
    background: transparent linear-gradient(180deg, #ff5131 0%, #901701 100%) 0% 0% no-repeat padding-box;
  }
  .content-header p {
    font-size: 18px;
    color: #6f7073;
  }
  .content-header p span {
    color: #ca2173;
  }
  .add-btn {
    background: transparent linear-gradient(90deg, #f95311 0%, #ca2173 100%) 0% 0%;
    border-radius: 24px;
    color: #fff;
    font-weight: 400;
    border: 0;
    padding: 0.6em 2em;
    box-shadow: 4px 23px 57px rgba(97, 73, 205, 0.2588235294);
  }
  .add-btn:hover {
    background: transparent linear-gradient(90deg, #ca2173 0%, #f95311 100%) 0% 0%;
  }
  .table-content {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 2px 13px 54px rgba(105, 95, 151, 0.0784313725);
    border-radius: 30px;
  }
  .table-content .header-table-content {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 3px 17px 54px rgba(105, 95, 151, 0.1294117647);
    border-radius: 24px;
    padding: 0.5em 1em;
  }
  .table-content .header-table-content .search {
    max-width: 300px;
  }
  .table-content .header-table-content input[type=search] {
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    border-radius: 19px;
    font-size: 16px;
    background-color: white;
    background-image: url("../assets/images/icons/search-icon.svg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
  }
  .table-content .header-table-content .btn-filter {
    border: 1px solid #ebebeb;
    border-radius: 7px;
    background: #fff;
    padding: 0.3em;
    color: #6f7073;
  }
  .table-content .header-table-content .btn-filter img {
    max-width: 30px;
  }
  .table-content table thead {
    --bs-table-bg: transparent;
  }
  .table-content table thead th {
    color: #7a86a1 !important;
    font-weight: 400;
  }
}
@media screen and (max-width: 768px) and (max-width: 991px) {
  table thead {
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
  table tr {
    display: block;
    --bs-table-bg: none;
    margin: 2em 0 5em;
  }
  table td {
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  table td::before {
    content: attr(aria-label);
    content: attr(data-label);
    float: left;
    font-weight: 500;
    color: #7a86a1;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
